@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    padding: 0;
    margin: 0;
}

.bg-gradient-info {
    background: linear-gradient(87deg, #11cdef, #1171ef) !important;
}

/* Custom class to hide number input increment and decrement buttons */
.hide-number-input-buttons::-webkit-inner-spin-button,
.hide-number-input-buttons::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-number-input-buttons {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Target the scrollbar */
.sidebar-scrollbar::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
}
  
  /* Track */
  .sidebar-scrollbar::-webkit-scrollbar-track {
   @apply bg-gray-200
  }
  
  /* Handle */
  .sidebar-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary /* Color of the handle */
  }
  
  /* Handle on hover */
  .sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
   @apply bg-primary-50 /* Color of the handle on hover */
  }